*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body {
    font-family: 'Open Sans', sans-serif;
}

/**Header**/
header {
    width: 100%;
    height: 50px;
    background: #ffffff;
    color: rgb(84, 248, 78);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /**para que se superponga a los elementos**/
}

/**Contenedor**/
.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}
.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: rgb(231, 225, 225);
    text-decoration: none;
}
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px; /**para que el menu empiece desde abajo**/
    left: 0;
    width: 100%;
    height: 100vh; /**para que ocupe el ancho de la ventana**/
    background: #e6d0d0;
    transition: all 0.5s;
    transform: translatex(-100%); /**el menu se traslada y se oculta**/
}

.menu a {
    display: block;
    color: rgb(88, 42, 42);
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid  rgba(238, 238, 238, 0.5);
}

.menu a:hover {
    background: rgba(255, 116, 116, 0.3);
}
#menu-bar:checked ~ .menu {
    transform: translatex(0%); /**al presionar la barra de menu se despliega**/
}
#banner {
    margin-top: 40px;
    position: relative; /**para que el contenedor se posicione de acuerdo a este**/
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner a:hover {
    background: rgba(238, 238, 238, 0.5);
}
#blog h3, h4 {
    text-align: center;
}


#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}
@media (min-width:480px) {
    #banner h2 {
        font-size: 40px; /**que a partir de 480px el h2 sea mas grande**/
    }

    #banner a {
        margin-top: 25px;
    }
}

@media (min-width:768px) { /**tamaño tablet**/
    #banner {
        height: -300px; /**a partir de 768, que el banner tenga esa altura**/
        overflow: hidden; /**para que la imagen no se salga del contenedor y quite el excedente**/
    }

    #banner img {
        height: auto; /**quiero que la img tenga una altura automatica**/
        margin-top: -25px;
    }
}

@media (min-width:1024px) {
    #banner img {
        margin-top: -40px; /**si no hago esto la imagen queda cortada**/
    }
}

@media (min-width:1024px) {
 .menu {
     position: static; /** a partir de 1024px el menu se coloca a la izquierda de la pantalla**/
     width: auto;
     height: auto;
     transform: translatex(0%); /**aca no queremos que se translade**/
     float: right;   /**se posiciono a la derecha**/
     display: flex; /**se posiciono arriba**/
 }

 .menu a {
     border: none;
 }
 header label {
     display: none; /**para que la etiqueta de menu no se vea**/
 }
}

@media (min-width:768px){
   .sociales{
       width: auto;
   }
   footer .contenedor {
       justify-content: space-between; /**se va al extremo**/
   }
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px; /**para que cuando se agrande la pantalla el contenedor quede fijo en 1000, alineado y en el medio**/

    }
}