/*------responsive contacto------*/
@media (min-width: 768px){
    .pharma-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .pharma-container >* {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand-pharma {
        text-align: left;
    }
}